@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sedan:ital@0;1&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sedan:ital@0;1&family=Single+Day&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Jua&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sedan:ital@0;1&family=Single+Day&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Jua&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sedan:ital@0;1&family=Single+Day&family=Yeon+Sung&display=swap");

.Resume > h2 {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #000;
  text-indent: 1em;
}

.Border_resume_line {
  width: 668px;
  border-top-style: solid;
  border-top-width: 2px;
}

.Resume h1 ,h5,p{
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}

.Resume h3 {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.Resume table {
  width: 780px;
  text-shadow: none;
  border-spacing: 0px 0px;
  margin-left: 50px;
}

table img {
  max-width: 200px;
  height: auto;
}

.Resume td:first-child {
  width: 200px;
  height: 50px;
}
.Resume a {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: x-large;
}

hr{
  width:90%; 
}
