@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Single+Day&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sedan:ital@0;1&display=swap');

#index {
    font-weight: 700;
    /* 폰트 굵기 */
    font-size: 20px;
    /* 폰트 크기 */
    background-color: #f2f2f2;
    /* 배경 색상 */
}

header {
    font-family: "Nanum Pen Script", sans-serif;
    /* 헤더 폰트 */
    font-size: 40px;
    /* 폰트 크기 */
    height: 100px;
    /* 높이 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
}

.h1-wrapper {
    position: relative;
    /* 상대적 위치 */
    margin: 53.6px;
    /* 여백 */
}

.h1-wrapper:before,
.h1-wrapper:after {
    content: "";
    position: absolute;
    left: -53.60px; /* 여백과 동일 */
    right: -53.6px; /* 여백과 동일 */
    background:#f2f2f2;
    height: 53.6px; /* 여백과 동일 */
    z-index: -1;
    /* 하위 레이어 */
}

.h1-wrapper:before {
    top: -53.6px; /* 여백과 동일 */
}

.h1-wrapper:after {
    bottom: -53.6px; /* 여백과 동일 */
}

.container {
    display: flex;
    /* Flexbox 레이아웃 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    height: 100%;
    /* 높이 100% */
    justify-content: center;
    /* 수평 중앙 정렬 */
}

nav {
    width: 960px;
    /* 너비 */
    background: white;
    /* 배경 색상 */
    position: relative;
    top: 50%;
    /* 상단에서 50% 위치 */
    left: 480px;
    /* 좌측에서 480px 위치 */
    transform: translate(-50%, -50%);
    /* 위치 조정 */
    border-radius: 5px;
    /* 테두리 반경 */
    font-size: 20px;
    /* 폰트 크기 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
}

footer {
    display: block;
    /* 블록 디스플레이 */
    font-family: "Sedan";
    /* 폰트 */
    text-align: left;
    /* 텍스트 왼쪽 정렬 */
    background-color: #1b1f23;
    /* 배경 색상 */
    color: #d6e1ea;
    /* 텍스트 색상 */
    font-size: 15px;
    /* 폰트 크기 */
    margin-top: 5px;
    /* 상단 여백 */
}

ul {
    list-style-type: none;
    /* 목록 스타일 없음 */
}

td {
    position: relative;
    /* 상대적 위치 */
    width: 50px;
    /* 너비 */
    padding: 5px;
    /* 패딩 */
    margin: 5px;
    /* 마진 */
}

.container a {
    text-decoration: none;
    /* 텍스트 장식 없음 */
    color: #2d2f43;
    /* 텍스트 색상 */
}

a:hover {
    color: white;
    /* 호버 시 텍스트 색상 */
    background-color: pink;
    /* 호버 시 배경 색상 */
    transition-duration: 1s;
    /* 전환 효과 1초 */
}

#scrollToTopBtn {
    position: fixed;        /* 페이지 오른쪽 아래에 고정 */
    bottom: 20px;           /* 하단에서 20px 떨어짐 */
    right: 20px;            /* 오른쪽에서 20px 떨어짐 */
    width: 50px;            /* 너비 50px */
    height: 50px;           /* 높이 50px */
    color: #fff;            /* 텍스트 색상 흰색 */
    border: none;           /* 테두리 없음 */
    border-radius: 50%;     /* 원형 버튼 */
    display: flex;          /* Flexbox 레이아웃 사용 */
    justify-content: center;/* 수평 중앙 정렬 */
    align-items: center;    /* 수직 중앙 정렬 */
    cursor: pointer;        /* 마우스를 올리면 포인터 모양으로 변경 */
    font-size: 24px;        /* 폰트 크기 24px */
    opacity: 0.7;           /* 투명도 70% */
    transition: opacity 0.3s;/* 투명도 전환 효과 0.3초 */
}

#scrollToTopBtn:hover {
    background-color: pink;
    opacity: 1;
}
